body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
p, h1, h2, h3, h4, h5, h6, ul, li, span, div, section {
  font-family: 'pt sans';
  text-align: center;
}
a {
  color: inherit;
}
li {
  list-style: none;
}



/* Header --------------------------------------------------------- */
.header-container {
  position: relative;
  width: 100%;
  height: 115px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header-container .logo {
  position: absolute;
  width: 350px;
  bottom: 25px;
  left: 50px;
}
.header-container .header-contact {
  position: absolute;
  top: 15px;
  right: 50px;
  font-size: 0;
}
.header-container .header-contact li {
  display: inline;
  font-size: 12px;
  color: #999;
}

/* Large Nav --------------------------------------------------------- */
.large-nav {
  position: absolute;
  bottom: -3px;
  right: 50px;
}
.large-nav .nav-headers {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: right;
}
.large-nav .nav-headers > li {
  display: inline;
}
.spacer span {
  padding: 0 12px;
  font-size: 13px;
  color: #999;
}
.large-nav .nav-headers li a {
  display: inline-block;
  height: 50px;
  font-size: 15px;
  text-decoration: none;
  color: #222;
}
.large-nav .nav-sub-headers {
  position: absolute;
  width: 170px;
  height: auto;
  top: 50px;
  background-color: #fff;
  border-right: 0px solid rgba(224, 172, 31, 0.2);
  border-bottom: 0px solid rgba(224, 172, 31, 0.2);
  border-left: 0px solid rgba(224, 172, 31, 0.2);
  border-radius: 0 0 5px 5px;
  box-shadow: 3px 2px 10px -2px #ddd, -3px 2px 10px -2px #ddd;
  z-index: 1;
  padding: 0;
  margin: 0;
}
.large-nav .nav-sub-headers li {
  height: 34px;
  line-height: 34px;
}
.large-nav .nav-sub-headers li a {
  display: block;
  padding: 2px 0 6px;
  height: 26px;
}
.large-nav .nav-sub-headers.nav-sub-about {
  right: 87px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 400ms, opacity 400ms;
}
.large-nav .nav-sub-headers.nav-sub-about.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
}
.large-nav .nav-sub-headers.nav-sub-work {
  right: 15px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 400ms, opacity 400ms;
}
.large-nav .nav-sub-headers.nav-sub-work.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
}

/* Small Nav --------------------------------------------------------- */
.header-container .small-nav-icon {
  position: absolute;
  bottom: 20px;
  right: 50px;
  font-size: 24px;
  border: solid 1px #555;
  border-radius: 2px;
  padding-bottom: 5px;
  color: #555;
  visibility: hidden;
}
.small-nav {
  position: absolute;
  top: 120px;
  right: 0px;
  width: 320px;
  max-width: 100%;
  height: auto;
  z-index: 1;
  background-color: #fff;
  border-radius: 0 0 0 5px;
  box-shadow: -3px 2px 10px -2px #ddd;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1000ms;
}
.small-nav .nav-close {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 26px;
  border: solid 1px #555;
  border-radius: 2px;
  color: #555;
}
.small-nav .nav-container {
  top: 0px;
  right: 0px;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.small-nav .nav-container li {
  text-align: left;
}
.small-nav .nav-container li a {
  display: block;
  padding: 4px 0 2px 8px;
  height: 20px;
  font-size: 15px;
  text-decoration: none;
  color: #222;
}
.small-nav .nav-container .nav-sub-header {
  padding: 0;
}
.small-nav .nav-container .nav-sub-header li a {
  padding: 4px 0 2px 30px;
}

/* Nav Media Queries -------------------------------------------------- */
@media (max-width: 800px) {
  .large-nav {
    visibility: hidden;
  }
  .header-container .small-nav-icon {
    opacity: 1;
    visibility: visible;
    transition: opacity 1000ms;
  }
  .header-container .small-nav-icon.hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1000ms;
  }
  .small-nav.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 1000ms;
  }
  .header-container .header-contact {
    top: 15px;
    right: 50px;
    font-size: 0;
  }
  .header-container .header-contact li {
    display: block;
    text-align: right;
    font-size: 12px;
  }
  .header-container .header-contact .spacer {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-container {
    height: 90px;
  }
  .header-container .logo {
    width: 325px;
    bottom: 20px;
    left: 3%;
  }
  .header-container .header-contact {
    top: 7px;
    right: 3%;
  }
  .header-container .header-contact li {
    font-size: 12px;
  }
  .header-container .small-nav-icon {
    bottom: 10px;
    right: 3%;
    font-size: 20px;
    border-radius: 2px;
    padding-bottom: 4px;
  }
  .small-nav {
    top: 95px;
  }
  .small-nav .nav-close {
    top: 6px;
    right: 4vw;
    font-size: 24px;
    padding-top: 2px;
  }
}
@media (max-width: 450px) {
  .header-container .logo {
    width: 78%;
    bottom: 10px;
  }
}

/* Home Page ---------------------------------------------------------- */
.main-container-home {
  position: relative;
  width: 94%;
  height: auto;
  padding: 0px 3% 30px;
  font-size: 0;
}
.main-container-home .photo-container {
  position: relative;
  display: inline-block;
  width: 33.33%;
  height: auto;
  padding-top: 30px;
  vertical-align: top;
  visibility: hidden;
  opacity: 0;
}
.main-container-home .photo-container.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 2000ms 1600ms;
}
.main-container-home .photo-container .photo-clipper {
  position: relative;
  width: 80%;
  height: 17vw;
  margin: 0 auto;
  overflow: hidden;
}
.main-container-home .photo-container .photo-clipper .photo {
  position: relative;
  width: 100%;
}
.main-container-home .photo-container .photo-title {
  font-size: 18px;
  margin: 0;
  padding-top: 1vw;
}
.main-container-home .photo-container .photo-description {
  width: 80%;
  font-size: 14px;
  margin: 0 auto;
}

/* Icon Section ---------------------------------------------------------- */
.icon-container-home {
  position: relative;
  width: 92%;
  height: auto;
  padding: 0px 4%;
  background-color: #555;
  font-size: 0;
}
.icon-container-home .icon-container {
  position: relative;
  display: inline-block;
  width: 20%;
  height: auto;
  padding-top: 15px;
  text-align: center;
  vertical-align: middle;
  color: #ddd;
}
.icon-wrapper {
  width: 100%
  height: auto;
  padding-top: 15px;
  margin: 0 auto;
}
.icon-container-home .icon-container .content-icon {
  position: relative;
  font-size: 5vw;
  width: 6vw;
  height: 6vw;
  border: solid 2px #f7931e;
  border-radius: 50%;
  padding-top: 1.8vw;
}
.icon-container-home .icon-container .content-icon:hover {
  color: #f7931e;
  border: solid 2px #ddd;
  transition: color 300ms, border 300ms;
}
.icon-container-home .icon-container .icon-title {
  position: relative;
  font-size: 15px;
  padding-top: 20px;
}
.icon-container-home .icon-container.icon-1 {
  opacity: 0;
  animation: show-icon-1 2000ms 600ms forwards 1;
}
.icon-container-home .icon-container.icon-2 {
  opacity: 0;
  animation: show-icon-2 2000ms 800ms forwards;
}
.icon-container-home .icon-container.icon-3 {
  opacity: 0;
  animation: show-icon-3 2000ms 1000ms forwards;
}
.icon-container-home .icon-container.icon-4 {
  opacity: 0;
  animation: show-icon-4 2000ms 1200ms forwards;
}
.icon-container-home .icon-container.icon-5 {
  opacity: 0;
  animation: show-icon-5 2000ms 1400ms forwards;
}
@keyframes show-icon-1 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes show-icon-2 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes show-icon-3 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes show-icon-4 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes show-icon-5 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Home Page Media Queries -------------------------------------------------- */
@media (max-width: 800px) {
  .main-container-home {
    padding-top: 15px;
  }
  .main-container-home .photo-container {
    display: block;
    width: 400px;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    padding-top: 25px;
  }
  .main-container-home .photo-container .photo-clipper {
    width: 100%;
    height: 270px;
    overflow: hidden;
  }
  .main-container-home .photo-container .photo-clipper .photo {
    width: 100%;
  }
  .main-container-home .photo-container .photo-title {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .icon-container-home .icon-container {
    display: block;
    width: 300px;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
  }
  .icon-container-home .icon-container .content-icon {
    font-size: 60px;
    width: 80px;
    height: 80px;
    border: solid 2px #f7931e;
    border-radius: 50%;
    padding-top: 25px;
  }
}
@media (max-width: 545px) {
  .main-container-home .photo-container .photo-clipper {
    height: 48vw;
  }
}
/*.dot {
  position: absolute;
  top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
}
.dot-1 {
  right: 50%;
}
.dot-2 {
  right: calc(50% - 30px);
}
.dot-3 {
  right: calc(50% + 30px);
}*/


/* Work Page -------------------------------------------------------- */
.title-container-work {
  position: relative;
  height: 6.8vw;
  line-height: 7.5vw;
  font-size: 8vw;
  opacity: .1;
  overflow-y: hidden;
  letter-spacing: 2vw;
  text-align: center;
}
.main-container-work {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
  font-size: 0;
}
.main-container-work .photo-container {
  position: relative;
  display: inline-block;
  width: 33.333%;
  height: 21.8vw;
  margin: 0;
  overflow: hidden;
  vertical-align: top;
}
.main-container-work .photo-container .photo {
  position: relative;
  width: 100%;
  filter: sepia(.8);
  transition: filter 500ms;
}
.main-container-work .photo-container .photo.hover {
  filter: sepia(0) saturate(1.5);
  transition: filter 500ms;
}
.main-container-work .photo-container .photo-description {
  position: absolute;
  width: 100%;
  height: 4vw;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  background-color: #ddd;
  color: #222;
  line-height: 4vw;
  text-align: center;
  font-size: 18px;
  transition: opacity 500ms, visibility 500ms;
}
.main-container-work .photo-container .photo-description.hover {
  visibility: visible;
  opacity: .5;
  transition: opacity 500ms, visibility 500ms;
  transition-delay: 200ms;
}

/* Work Page Media Queries -------------------------------------------------- */
@media (max-width: 800px) {
  .title-container-work {
    line-height: 10vw;
    overflow-y: visible;
  }
  .main-container-work {
    padding-top: 3vw;
  }
  .main-container-work .photo-container {
    width: 50%;
    height: 32vw;
  }
  .main-container-work .photo-container .photo {
    filter: sepia(0);
  }
  .main-container-work .photo-container .photo.hover {
    filter: saturate(1);
  }
  .main-container-work .photo-container .photo-description {
    height: 30px;
    visibility: visible;
    opacity: .5;
    line-height: 30px;
  }
}
@media (max-width: 400px) {
  .main-container-work .photo-container {
    width: 100%;
    height: 63vw;
  }
}

/* Video Page --------------------------------------------------------- */
.title-container-video {
  height: 6.8vw;
  width: 70%;
  line-height: 7.5vw;
  font-size: 8vw;
  opacity: .1;
  overflow-y: hidden;
  letter-spacing: 2vw;
  text-align: center;
}
.background-container-video {
  position: relative;
  background-color: #f6f6f6;
  font-size: 0px;
  padding: 3vw 0;
}
.main-container-video {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 40vw;
}
.container-video-border {
  position: absolute;
  height: 46vw;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  right: 30%;
  top: 0;
}
.video-container {
  height: 100%;
}
.side-container-video {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 40vw;
  padding-left: 5%;
}
.side-container-video-title {
  position: relative;
  display: block;
  margin: 15px 0;
  width: 100%;
  font-size: 14px;
  text-align: left;
}
.side-container-video-item {
  position: relative;
  margin-bottom: 12px;
}
.side-container-video-item a {
  text-decoration: none;
}
.side-container-video-thumbnail {
  position: relative;
  display: inline-block;
  width: 20%;
}
.side-container-video-description {
  position: relative;
  display: inline-block;
  width: 75%;
  padding-left: 5%;
  font-size: 13px;
  text-align: left;
  color: #222;
  vertical-align: top;
}
.side-container-video-description.this-video {
  color: rgba(224, 172, 31, 0.8);
}

/* Video Page Media Queries -------------------------------------------------- */
@media (max-width: 800px) {
  .main-container-video {
    width: 100%;
    height: 55vw;
  }
  .container-video-border {
    display: none;
  }
  .side-container-video {
    display: block;
    width: 80%;
    height: auto;
    padding: 0 10%;
    font-size: 0;
  }
  .side-container-video-title {
    margin-bottom: 1.5vw;
  }
  .side-container-video-item {
    display: inline-block;
    width: 16.6%;
    margin-bottom: 0;
  }
  .side-container-video-thumbnail {
    display: block;
    width: 100%;
    height: 8vw;
  }
  .side-container-video-description {
    display: none;
  }
}
@media (max-width: 600px) {
  .side-container-video-item {
    width: 33.3%;
  }
  .side-container-video-thumbnail {
    height: 16vw;
  }
}

/* Footer ------------------------------------------------------------- */
.footer-container {
  position: relative;
  width: 100%;
  height: 90px;
  background-color: #222;
  font-size: 0;
}
.footer-spacer {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #555;
}
/*.letter-logo {
  position: absolute;
  top: 30px;
  color: #ddd;
  font-size: 16px;
}
.ll-1 {
  right: calc(50% - 5px);
}
.ll-2 {
  right: calc(50% - 20px);
}
.ll-3 {
  right: calc(50% + 10px);
}*/
.footer-icons {
  position: relative;
  width: 50%;
  height: 60px;
  padding-left: 50px;
  margin: 0;
  text-align: left;
}
.footer-icons li {
  position: relative;
  display: inline;
  padding: 0 10px;
}
.footer-icons .social-icon {
  position: relative;
  text-decoration: none;
  color: #ddd;
  line-height: 60px;
  font-size: 20px;
}
.footer-branding {
  position: absolute;
  width: 50%;
  height: 60px;
  bottom: 0;
  right: 0;
  text-align: right;
  padding-right: 60px;
}
.footer-branding .logo {
  position: relative;
  line-height: 60px;
  color: #ddd;
  font-size: 16px;
}

/* Footer Media Queries -------------------------------------------------- */
@media (max-width: 550px) {
  .footer-icons {
    padding-left: 10px;
  }
  .footer-branding {
    padding-right: 20px;
  }
}
@media (max-width: 425px) {
  .footer-container {
    height: 110px;
  }
  .footer-icons {
    width: 100%;
    height: 40px;
    padding-left: 0px;
    text-align: center;
  }
  .footer-icons .social-icon {
    line-height: 50px;
  }
  .footer-branding {
    position: relative;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-right: 0px;
  }
  .footer-branding .logo {
    line-height: 40px;
  }
}

@media (min-width: 1000px) {
  .centering-container {
    width: 900px;
    margin: 0 auto;
    padding-left: calc(50vw - 450px);
    padding-right: calc(50vw - 450px);
  }
  .main-container-home .photo-container .photo-clipper {
    height: 160px;
  }
  .main-container-home .photo-container .photo-title {
    padding-top: 10px;
  }
  .icon-container-home .icon-container .content-icon {
    font-size: 45px;
    width: 54px;
    height: 54px;
    padding-top: 16px;
  }
  .header-container .logo {
    left: calc(50vw - 450px);
  }
  .header-container .header-contact {
    right: calc(50vw - 450px);
  }
  .large-nav {
    right: calc(50vw - 450px);
  }
  .footer-icons {
    padding-left: calc(50vw - 450px);
  }
  .footer-branding {
    padding-right: calc(50vw - 450px);
  }
  .title-container-work {
    height: 68px;
    line-height: 75px;
    font-size: 80px;
    letter-spacing: 20px;
  }
  .main-container-work {
    padding-bottom: 30px;
  }
  .main-container-work .photo-container {
    height: 200px;
  }
  .main-container-work .photo-container .photo-description {
    height: 38px;
    line-height: 38px;
  }
  .title-container-video {
    width: 700px;
    height: 68px;
    line-height: 75px;
    font-size: 80px;
    letter-spacing: 20px;
    padding-left: calc(50vw - 480px);
  }
  .background-container-video {
    padding: 30px 0;
    padding-left: calc(50vw - 450px);
    padding-right: calc(50vw - 450px);
  }
  .main-container-video {
    height: 400px;
    width: 75%;
  }
  .container-video-border {
    height: 460px;
    right: calc(50vw - 225px);
  }
  .side-container-video {
    height: 400px;
    width: 20%;
  }
  .side-container-video-thumbnail {
    width: 30%;
  }
  .side-container-video-description {
    width: 65%;
    padding-left: 5%;
  }
}













